body{
    background-image: url("./images/hdnature.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.nav-item{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    text-align: center;
    /* padding-top: -10px; */
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, .18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, .37);
    margin: -10px auto 0;
    padding: 40px 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.search{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search input{
    border: 2px solid rgba(255, 255, 255, .18);
    outline: 0;
    background: transparent;
    padding: 10px 25px;
    height: 30px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 17px;

}

::placeholder{
    color: black
}

.search button{
    border: 2px solid rgba(255, 255, 255, .18);
    outline: 0;
    background: transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.search button:hover{
    background-color: gray;
}

.search button i{
    width: 16px;
}

.weather-icon{
    margin-top: 10px;
}

.weather h1{
    font-size: 50px;
    font-weight: 700;
    margin-top: -10px;
}

.weather h2{
    font-size:  25px;
    font-weight: 600;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width:45px;
    margin-right: 10px;
    margin-top: -15px;
    
}

.humidity, .wind{
    font-size: 20px;
    margin-top: -6px;
}

.hw{
    margin-top: -15px;
}

/* .weather{
    display: none;
} */

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}